.main {
    height: 100%;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.error {
  font-size: 12px;
  color: red;
}

.success {
  font-size: 12px;
  color: green;
}

ul {
  list-style: none;
  margin: 0;
  li {
    padding: 5px 0;
  }
}

.buttons {
  display: flex;
  padding: 10px;
  background: #ffba3d;
}

.button {
  padding: 8px 18px;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.selected {
    background: rgba(255,255,255, 0.5)
  }
}

.node {
  cursor: pointer;
  position: relative;
}

.node::before {
  content: '-';
  position: absolute;
  left: -20px;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
}

.node.collapsed::before {
  content: '+';
}

.hidden {
  display: none;
}

.nested {
  padding: 8px 0 8px 40px;
}

.array-idx {
  color: gray;
  width: 20px;
  display: inline-block;
}

.editable {
  display: inline-block;
  vertical-align: text-top;
  min-width: 30px;
}

.child {
  padding: 5px 0;
}

.submit-btn {
  padding: 8px 18px;
  border: 1px solid #fff;
  background: #ffba3d;
  cursor: pointer;
  margin-top: 20px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: inline-block;
}